.product-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
  max-width: 300px;
  padding: 10px;
  transition: 500ms;
}

.product-card:hover {
  transform: scale(1.02);
}

.card-product-img {
  max-width: 100px;
}

.product-card-add-to-cart {
  background-color: aliceblue;
  border: 0.5px solid black;
  color: black;
  padding: 10px;
  transition: 500ms;
}

.product-card-add-to-cart:hover {
  background-color: black;
  color: aliceblue;
}

.product-card-add-to-cart:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
